<p id="notice"><%= notice %></p>

<h1>Listing Promotions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category1</th>
      <th>Category2</th>
      <th>Date start</th>
      <th>Duration days</th>
      <th>Business</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= promotion.title %></td>
        <td><%= promotion.category1 %></td>
        <td><%= promotion.category2 %></td>
        <td><%= promotion.date_start %></td>
        <td><%= promotion.duration_days %></td>
        <td><%= promotion.business %></td>
        <td><%= promotion.job %></td>
        <td><%= link_to 'Show', promotion %></td>
        <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
        <td><%= link_to 'Destroy', promotion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promotion', new_promotion_path %>
